
@model Dictionary<int, StoreFront.UI.MVC.Models.CartItemViewModel>

@{
    ViewBag.Title = "Shopping Cart";

    //Add local variables for calcuations on the page
    decimal? cartTotal = 0;
    int totalCountOfItems = 0;
}

<p class="text-right">
    @Html.ActionLink("Back to Shopping", "Index", "Books", null, new { @class = "btn btn-info" })
</p>

<h2 class="text-center">@ViewBag.Title</h2>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@

@if (Model.Count == 0)
{
    <p class="alert alert-warning">
        @ViewBag.Message
    </p>
}
else
{


    <table class="table">
        <tr>
            <th>Book COver</th>
            <th>Quantity</th>
            <th>Title</th>
            <th>Price</th>
            <th>Total</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            //When calling on an item in a Dictionary, you have to specify Key or Value
            <tr>
                <td>
                    <img src="~/Content/imagestore/books/t_@item.Value.Product.BookImage"
                         tabindex="@item.Value.Product.BookTitle" />
                </td>
                <td>
                    @* Version 1- just show the quantity
                        @html.DisplayFor(modelItem => item.Value.Qty)*@

                    @* Version 2- Provide a space for them to see the Qty AND update it *@
                    @using (Html.BeginForm("UpdateCart", "ShoppingCart", FormMethod.Post))
                    {
                        @Html.Hidden("bookID", item.Key)
                        @Html.TextBox("qty", item.Value.Qty, new { @class = "form-control", @style = "max-width: 50px; display: inline;" }) //Defaults to show the current qty to the user in the textbox
                        <input type="submit" value="Update Quantity" class="btn btn-info" />
                    }

                    @{
                        //calculate the running total of items in the cart
                        totalCountOfItems += item.Value.Qty;
                    }
                </td>
                <td>
                    @item.Value.Product.BookTitle
                </td>
                <td>
                    @string.Format($"{item.Value.Product.Price:c}")
                </td>
                <td>
                    @* Calculate the LIneTotal & update the running total for each row *@
                    @{
                        decimal? lineTotal = item.Value.Product.Price * item.Value.Qty;
                        cartTotal += lineTotal;
                    }

                    @string.Format($"{lineTotal:c}")
                </td>
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@

                    @* Remove from Cart Button *@
                    @Html.ActionLink("Remove from Cart", "RemoveFromCart", new { id = item.Key })

                </td>
            </tr>
        }

    </table>

    <p class="alert alert-success text-center" style="font-size: 1.25em;">
        You have @totalCountOfItems item@(totalCountOfItems == 1 ? "" : "s") in your cart.
        Your total, before taxes and shipping, is @string.Format($"{cartTotal:c}").
    </p>
}
